.about_div{
  width:100vw;
  height: auto;
  padding-top: 50px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  margin-bottom: 100px;
  /* border: 5px solid red; */
  

  /* border: 15px solid red; */
  }

  .desc_box{
  
      width: 45vw;
      font-size: 22px;
      margin-top: 10px;
      text-align: center;
      font-weight: lighter;

  }

  /* .abt_name{
    border: 5px solid red;
  } */
  

.about_cont{
  width: 80vw;
  height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 25px 0px;
  /* border: 5px solid red; */
}


.abt_head{
font-size:40px;
}

.about__contact a{
  background-color: blue;
  color: whitesmoke;  
}

.about_details{
    font-size: 45px;
}
.typo_div{
    display: flex;
    flex-direction: column;
    justify-content: safe;align-items: center;
  /* border: 5px solid red; */
    
}
.abt_icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.about_cont img{
    width: 100%;
    border-radius: 55%;
    /* border: 5px solid red; */
}


   .mobileHead{
    font-size: 45px;
    margin-bottom: -15px;
   }
  .about__name {
    color: var(--clr-primary);
  }
  
  /* .about__desc {
    font-size: 1rem;
    max-width: 70%;
    text-align: center;
  } */
/* 
  .abt_desc{
    border: 5px solid red;
  } */
  
  /* .about__desc, */
  .about__contact {
    margin-top: 2.4em;
  }
/*   
  .about .link--icon {
    margin-right: 0.8em;
  }
  
  .about .btn--outline {
    margin-right: 1em;
  } */
  .btnResume{
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    padding: 0px 30px;
    margin-top: 10px;
  }
  .btnResume:hover{
    background-color: var(--clr-primary);
    color: var(--clr-bg);
  }
  
   
  @media all and (min-width: 480px) and (max-width: 780px) {
    .about_div{
     flex-direction: column;
    /* margin-bottom: 1000px; */
    /* border: 15px solid red; */
      }

 .about_cont{
  flex-direction: column;

  /* border: 15px solid red; */
 }
        
    }
    
    
    @media all and (min-width: 321px) and (max-width: 480px) {

      .about_div{
        height: auto;
         display: flex;
         flex-direction: column;
        align-items: center;
        /* border: 15px solid red; */
          }
    
    
       .about_cont{
  flex-direction: column;
  
 }
    
    }