.about_div{
  width:100vw;
  height:85vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-bottom: 100px;
  

  /* border: 15px solid red; */
  }
  

.about_cont{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:150px;
}


.abt_head{
font-size:40px;
margin-top: 100px;

}

.about__contact a{
  background-color: blue;
  color: whitesmoke;  
}
.about_details{
    font-size: 45px;
}
.typo_div{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    gap: 50px;
}
.about_cont img{
    width: 90%;
    border-radius: 55%;
}


   .mobileHead{
    font-size: 45px;
    margin-bottom: -15px;
   }
  .about__name {
    color: var(--clr-primary);
  }
  
  .about__desc {
    font-size: 1rem;
    max-width: 70%;
    text-align: center;
  }
  
  .about__desc,
  .about__contact {
    margin-top: 2.4em;
  }
  
  .about .link--icon {
    margin-right: 0.8em;
  }
  
  .about .btn--outline {
    margin-right: 1em;
  }
  .btnResume{
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    padding: 0px 30px;
    margin-top: 10px;
  }
  .btnResume:hover{
    background-color: var(--clr-primary);
    color: var(--clr-bg);
  }
  
   
  @media all and (min-width: 480px) and (max-width: 780px) {
    .about_div{
    margin-top: 500px;
    height: 100vh;
     display: flex;
     flex-direction: column;
    align-items: center;
    margin-bottom: 700px;
    /* border: 15px solid red; */
      }

 .about_cont{
  flex-direction: column;

  /* border: 15px solid red; */
 }
        
    }
    
    
    @media all and (min-width: 321px) and (max-width: 480px) {

      .about_div{
        margin-top: 700px;
        height: 100vh;
         display: flex;
         flex-direction: column;
        align-items: center;
    margin-bottom: 800px;
        /* border: 15px solid red; */
          }
    
    
       .about_cont{
  flex-direction: column;
  
 }
    
    }