
.contacts{
    width: 100%;
    height: max-content;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;align-items: center;
    background-color: black;
    color: white;
    /* border: 5px solid red; */

}




.contact_box{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    /* border: 5px solid red; */
}

.contact_box svg:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0s;

}

.contact_box svg {
    font-size: 3em;
    transition: all 0.3s ease-in-out 0s;
    /* color: blue; */
    color:white;
    border: 3px solid white;
    padding: 5px;
    border-radius: 20%;
  }


  .contact_btm{

    width:80%;
    justify-content: space-between;
    align-items: center;
    /* border:5px solid red; */

  }



.mailNumber .email {
    font-size: 2em;
    transition: all 0.5s ease-in-out 0s;
    color: blue;
  }
  .mailNumber .phone{
    font-size: 1.5em;
    transition: all 0.5s ease-in-out 0s;
    color: blue;
  }
  
  .mailNumber > div{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-content: center; */
  }
  
  .mailNumber p{
    margin: 5px;
  }
  .contactcontainer svg:hover {
    font-size: 4rem;
  }
  .linkedin:hover {
    color: #0a66c2;
  }

  .whatsapp:hover{
    color: green;
  }

  .github:hover {
    color: purple;
  }
  .email:hover {
    color: #d93025;
  }
  .twitter:hover {
    color: rgb(29, 155, 240);
  }
  .phone:hover {
    color: green;
  }
  
  .mailNumber{
    border-radius: 20px;
    background-color: transparent;
    margin: auto;
    /* width:40%; */
    /* width:500px; */
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
  }
  .floating-whatsapp{
    position: fixed;
    bottom: 20;
    right: 20;

  }

  @media all and (min-width: 480px) and (max-width: 780px) {

    .contacts{
      width: 100%;
    }
  
    .contact_box{
        grid-template-columns:1fr;
    }
    .mailNumber{
      flex-direction: column;
    }
}


    
    
    @media all and (min-width: 321px) and (max-width: 480px) {

      .contacts{
        width: 100%;
      }

        .contact_box{
        grid-template-columns:1fr;

        }

        .mailNumber{
          flex-direction: column;
        }
    
    }