
img{
    width:100%;
}
.calender{
    background-color: black;
    border-radius: 15px;
}

.gitcont{
    /* border: 10px solid white; */
    width: 100%;
    padding: 70px 0px;
    /* border: 5px solid red; */
    /* border: 5px solid black; */
    /* background-color: black; */
    /* color: whitesmoke; */
    background-color: #83A1D9;
    background-image: linear-gradient(to right,#83A1D9 , #FFFFFF);
background-image: linear-gradient(to bottom,#83A1D9 , #FFFFFF);


/* 
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBTxZlrI3MsQNYw7e-WwvdkJiObm0h2V8NWAgQo5BdXlwVsqFcPqM_Ael2hS3yHswwJ0E&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover; */
}

.git{
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns:1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
}




   
@media all and (min-width: 480px) and (max-width: 1000px) {
/*   
    .gitcont{
        margin-top: 500px;
    } */
}


    
    
    @media all and (min-width: 321px) and (max-width: 480px) {
/* 
        .gitcont{
            margin-top: 500px;
        } */
    
    }

