
img{
    width:100%;
}

.gitcont{
    /* border: 10px solid white; */
    padding: 70px 0px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

.git{
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns:1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
}




   
@media all and (min-width: 480px) and (max-width: 780px) {
  
    .gitcont{
        margin-top: 500px;
    }
}


    
    
    @media all and (min-width: 321px) and (max-width: 480px) {

        .gitcont{
            margin-top: 500px;
        }
    
    }

