
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px solid black; */
    background-color: #fff;
    color: black;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

img{
    width:100%;
    border-radius: 25px;
}
.box .text{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.desc{
    font-size: 1rem;
    font-weight: 500;
}

.repo-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abt_proj{
    width:90%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.techStack{
    font-size: 25px;
    font-weight: bold;
    color: rgb(232, 26, 60);
}

.techtext{
    font-size: 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

button{
    background-color:#000000FF;
    color: #FFFFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 20px;
}