.project_main_div{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    padding: 75px 0px;
    align-items: center;
    background-color: #83A1D9;
    background-image: linear-gradient(to right,#FFFFFF,#83A1D9 );
}


        /* background-color: #E4E6EB; */
        /* background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBTxZlrI3MsQNYw7e-WwvdkJiObm0h2V8NWAgQo5BdXlwVsqFcPqM_Ael2hS3yHswwJ0E&usqp=CAU);
        background-repeat: no-repeat;
        background-size: cover; */


.proj_head{
    font-size: 40px;
    margin: 70px 0px;
}
.carousel{
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    grid-template-columns: repeat(2,1fr);
}

  
@media all and (min-width: 480px) and (max-width: 900px) {

    .carousel{
        grid-template-columns: 1fr;
    }
}
    
    
    @media all and (min-width: 321px) and (max-width: 480px) {

        .carousel{
            grid-template-columns: 1fr;
        }
    
    }
