
.project_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj_head{
    font-size: 40px;
    margin: 70px 0px;
}
.carousel{
    width: 70%;
    margin: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    grid-template-columns: repeat(2,1fr);
}

  
@media all and (min-width: 480px) and (max-width: 780px) {

    .carousel{
        grid-template-columns: 1fr;
    }
}
    
    
    @media all and (min-width: 321px) and (max-width: 480px) {

        .carousel{
            grid-template-columns: 1fr;
        }
    
    }
